<div class='new-session offset3'>
  <div id="home-banner" class="row">
    <div class="span9">
  		<h2>Welcome to your custom Podio integration.</h2>
  		<h5>Proudly brought to you by Blink Applications.</h5>
  	</div>
  </div>

  <div id="" class="row login">
    <div class="span2">
      <a class="btn btn-large btn-success login-btn" href="/auth/podio">Log In </a>
    </div>
    <div class="span1 login-arrow">
      <i class="icon-arrow-right"></i> 
    </div>
    <div class="span2">

      <%=  image_tag "podio_logo.png", :class=> "podio-logo" %>
    </div>
  </div>
</div>
