.help-content
	.row
		.span3.help-title
			%h3 Help
	.row
		.span7.help-byline
			%b This help section will answer some common questions and provide support details.
	.row
		.span7.help-list
			%ul
				%li
					Help item
					%ul
						%li Enter a help item here.
				%li 
					Help item #2
					%ul
						%li --
						%li ---
						%li ----
						%a#update-vendors.btn.btn-small Button
	.row
		.span7.support-details
			%p 
				If you are still encountering difficulties, please contact us at
				%a{:href=>"mailto:support@blinkapplications.com"} support@blinkapplications.com